
    <section class="ae-container-fluid ae-container-fluid--inner rk-portfolio">
      <div class="ae-masonry ae-masonry-md-2 ae-masonry-xl-4">
        <a href="angular" class="rk-item ae-masonry__item">
          <img src="assets/img/project-1.jpg" alt="">
          <div class="item-meta">
            <h2>Angular</h2>
            <p>Diseño de aplicaciones web en el frontend</p>
          </div>
        </a>
        
        <a href="angular.component.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-2.jpg" alt="">
          <div class="item-meta">
            <h2>Node JS</h2>
            <p>Javascritp del lado del servidor</p>
          </div>
        </a>
        
        <a href="/wordpress/" class="rk-item ae-masonry__item">
          <img src="assets/img/project-3.jpg" alt="">
          <div class="item-meta">
            <h2>Wordpress</h2>
            <p>Sistema de gestión de contenidos</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-4.jpg" alt="">
          <div class="item-meta">
            <h2>Estilos</h2>
            <p>Css Boostrap </p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-5.jpg" alt="">
          <div class="item-meta">
            <h2>JavaScript</h2>
            <p>Branding</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-6.jpg" alt="">
          <div class="item-meta">
            <h2>Marketing Digital</h2>
            <p>Técnicas de Posicionamiento web</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-7.jpg" alt="">
          <div class="item-meta">
            <h2>Ionic</h2>
            <p>Framework de desarrollo en dispositivos moviles</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-8.jpg" alt="">
          <div class="item-meta">
            <h2>MongoDb</h2>
            <p>Base de datos no relacional orienta a aplicaciones web</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-9.jpg" alt="">
          <div class="item-meta">
            <h2>Firebase</h2>
            <p>Base de datos con soporte Google</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-10.jpg" alt="">
          <div class="item-meta">
            <h2>Github</h2>
            <p>Sistema de control de versiones</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-11.jpg" alt="">
          <div class="item-meta">
            <h2>Redes Sociales</h2>
            <p>Graphic Design</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item">
          <img src="assets/img/project-12.jpg" alt="">
          <div class="item-meta">
            <h2>JQuery</h2>
            <p> Biblioteca de JavaScript rápida, pequeña y rica en funciones</p>
          </div>
        </a>
        
        <a href="portfolio-item.html" class="rk-item ae-masonry__item"><img src="assets/img/project-13.jpg" alt="">
            <div class="item-meta">
              <h2>Venmo trust</h2>
              <p>Packaging</p>
            </div>
          </a>
      </div>

  </section>